
@model RegistrationViewModel
@{
    ViewData["Title"] = "Register";
}

<h1>Register</h1>
@*<div class="row">
        @if (TempData["validationmessage"] != null)
        {
            string alertType = "alert alert-" + TempData["alertType"];
            <div class="@alertType">
                <strong>Alert!</strong> @TempData["validationmessage"]
            </div>
        }
    </div>*@
<h2 class="text-center">Registar</h2>
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="jumbotron">
            @*<div asp-validation-summary="ModelOnly" class="text-danger"></div>*@
            <form role="form" asp-action="Registar" asp-controller="Account" method="post">

                <div class="form-group">
                    <label for="Name">Name</label>
                    <input type="text" name="Name" asp-for="Name" class="form-control input-sm" data-val="true" data-val-required="The Mobile field is required." placeholder="Name">
                    <span asp-validation-for="Name" style="color: red;"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Mobile"></label>
                    <input type="text" name="Mobile" data-val="true" data-val-required="The Mobile field is required." asp-for="Mobile" class="form-control input-sm" placeholder="Mobile">
                    <span asp-validation-for="Mobile" style="color: red;"></span>
                </div>
                <div class="form-group">
                    <label for="Email">Email</label>
                    <input type="email" name="Email" asp-for="Email" data-val="true" class="form-control input-sm" data-val-required="The Mobile field is required." placeholder="Email Address">
                    <span asp-validation-for="Email" style="color: red;"></span>
                    <font color="red">@ViewBag.EmailErrorMsg</font>
                </div>
                <div class="form-group">
                    <label for="Password">Password</label>
                    <input type="password" name="Password" asp-for="Password" autocomplete="off" class="form-control input-sm" data-val="true" data-val-required="The Mobile field is required." placeholder="Password">
                    <span asp-validation-for="Password" style="color: red;"></span>
                </div>
                <div class="form-group">
                    <label for="ConfirmPassword">Password</label>
                    <input type="password" name="ConfirmPassword" asp-for="ConfirmPassword" autocomplete="off" class="form-control input-sm" placeholder="ConfirmPassword">
                    <span asp-validation-for="ConfirmPassword" style="color: red;"></span>
                </div>

                <input type="submit" value="Register" class="btn btn-info btn-block">
                <input name="__RequestVerificationToken" type="hidden" value="<removed for brevity>">
            </form>
        </div>
    </div>
</div>